1. install all python dependencies from python_dependencies.txt
2. install node.js latest version
3. check the node.js installation by 
    node -v
    npm -v
4. create a folder called OCRmodels
5. install:
    tesseractOCR
    move to folder OCRmodels
6. from paddleOCR, install:
    PP-OCRv6_small_rec_safetensors
    PP-OCRv6_medium_det_safetensors
    and move the model folders to the folder OCRmodels